body{
    font-family: 'Montserrat';
}
#title {
    background-color: #FFBF86;
    color: #fff;
}

.container-fluid {
    padding: 3% 15% 7%;
}
h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: bold;
}
h2 {
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 3rem;
    line-height: 1.5;
}
h3 {
    font-family: 'Montserrat';
    font-weight: bold;
}
p {
    color: #8f8f8f;
}

/* Navigation-Bar */
.navbar {
    padding: 0 0 4.5rem;
}
.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}
.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: 'Montserrat';
    color: #000;
}

/* Downloaded Button */

.download-button {
    margin: 5% 3% 5% 0; 
}

/* Title-Image */

.title-image {
    width: 90%;
    height: 130%;
    /* transform: rotate(25deg); */
    position: absolute;
    right: 1%;
    
}

/* Features */

#features {
    padding: 7% 15%;
    background-color: #fff;
    position: relative;
    
}

.feature-box {
    text-align: center;
    padding: 5%
}

.icon {
    color: #FF9300;
    margin-bottom: 1rem;
}

.icon:hover {
    /* color: #FED2AA; */
    color: #CDF2CA;
}
/* Testimonials */

#testimonials {
    text-align: center;
    background-color: #CEE5D0;
    color: #fff
}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

#press {
    background-color: #CEE5D0;
    text-align: center;
    padding-bottom: 3%;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}

.carousel-item {
    padding: 7% 15%;
}

/* Pricing Section */

#pricing {
    padding: 150px;
    text-align: center;
}


.pricing-column {
    padding: 3% 2%;
}

@media (max-width: 1028px) {
    .title-image {
            position: static;
            /* transform: rotate(0); */
            height: 120%;
    }

    #title {
        text-align: center;
    }
}

/* CTA Section */


#cta {
    background-color: #FFBF86;
    padding: 7% 20%;
    text-align: center;
    color: #fff;
}

.cta-heading {
    font-size: 3rem;
    line-height: 1.5;
}


/* Footer Section */


#footer {
    background-color: #fff;
    padding: 7% 15%;
    text-align: center;
}

.social-icon {
    margin: 1rem;
    font-size: 2rem;
}
